#window {
    -fx-background-color: #eff;
    -fx-color: #000033;
    -fx-padding: 0;
    -fx-border-width: 2;
    -fx-border-color: #016fe0;
}
.menu {
    -fx-background-color: #0d7ff2;
    -fx-color: #eeffff;
}
#toolbar {
    -fx-background-color: #016fe0;
    -fx-padding: 2;
}
#main {
    -fx-background-color: #eff;
    -fx-padding: 10;
}

/* CONTROLS */
.button, .toggle-button, .text-field {
    -fx-background-radius: 0;
}
.button {
    -fx-cursor: hand;
}
.clickable:hover {
    -fx-cursor: hand;
}
#main .button {
    -fx-background-color: transparent;
    -fx-text-fill: #0d7ff2;
    -fx-underline: true
}
#main .button:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #0b4e93;
}
#main .button:default {
    -fx-border-width: 1;
    -fx-border-color: #0d7ff2;
    -fx-background-color: #0d7ff2;
    -fx-text-fill: #eff;
    -fx-underline: false
}
#main .button:default:hover {
    -fx-border-color: #016fe0;
    -fx-text-fill: #9BF7F8;
}
#main .button.warning, #toolbar .button.warning {
    -fx-border-width: 1;
    -fx-border-color: #ff4100;
    -fx-background-color: #ff4100;
    -fx-text-fill: #eff;
    -fx-underline: false
}
#main .button.warning:hover, #toolbar .button.warning:hover {
    -fx-text-fill: #9BF7F8;
}
#main .button.increment {
    -fx-border-width: 0;
    -fx-text-fill: #0d7ff2;
    -fx-underline: false;
    -fx-font-weight: bold;
}
#main .button.decrement {
    -fx-border-width: 0;
    -fx-text-fill: #ff4100;
    -fx-underline: false;
    -fx-font-weight: bold;
}
#main .check-box .box {
    -fx-background-color: transparent
}
#main .check-box .mark {
    -fx-background-color: #ddd;
    -fx-scale-shape: true;
}
#main .check-box:selected .mark {
    -fx-background-color: #0d7ff2;
}

/* NAV */
#nav .button {
    -fx-background-color: transparent;
    -fx-text-fill: #eff;
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-fill-width: true
}
#nav .button.active {
    -fx-background-color: #016fe0;
    -fx-text-fill: #9bf7f8;
}
#nav .button:hover, #nav .button.active:hover {
    -fx-background-color: #0b4e93;
    -fx-text-fill: #eff;
}

/* TOOLBAR */
#toolbar .label {
    -fx-text-fill: #eff;
}
#toolbar .button {
    -fx-background-color: transparent;
    -fx-text-fill: #eff;
}
#toolbar .button:hover, #toolbar .button:default:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #0d7ff2;
}
#toolbar .button:default {
    -fx-background-color: #0d7ff2;
    -fx-text-fill: #eff;
}
#toolbar .label {
    -fx-opacity: 0.5
}
#toolbar .separator:vertical .line {
    -fx-border-color: #0d7ff2;
    -fx-border-width: 0.05em;
}

/* MENU */
.window-icon {
    -fx-font-size: 0;
    -fx-background-color: transparent;
    -fx-background-repeat: stretch;
}
#window-close {-fx-background-image: url("../images/window-close.png")}
#window-min {-fx-background-image: url("../images/window-min.png")}
#window-fullscreen {-fx-background-image: url("../images/window-fullscreen.png")}
#window-max {-fx-background-image: url("../images/window-expand.png")}
#window-undock {-fx-background-image: url("../images/window-undock.png")}
#window-resize {
    -fx-background-image: url("../images/window-corner.png");
    -fx-cursor: se-resize;
    -fx-background-position: bottom center;
}
#toolbar .window-icon {
    -fx-background-position: center center;
}
#toolbar .window-icon:hover {
    -fx-background-color: transparent;
}

/* STATUS BAR */
.warning {
    -fx-background-color: #fff040;
}
.success {
    -fx-background-color: lime;
}

/* OVERVIEW */
.scheduleParam {
    -fx-text-fill: #0d7ff2;
    -fx-font-weight: bold
}
.titled-pane, .titled-pane:focused {
    -fx-text-fill: #0d7ff2;
}
.titled-pane > .title {
    -fx-background-color: transparent;
    -fx-text-fill: #0d7ff2;
    -fx-font-weight: bold
}
.titled-pane:focused > .title {
    -fx-color: transparent;
    -fx-underline: true
}
.titled-pane > *.content {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-border-width: 0;
}
.scroll-pane.content {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.scroll-pane.content .viewport {
    -fx-background-color: transparent;
}
.scroll-pane.content .scroll-bar:vertical {
    -fx-background-color: transparent;
}
.scroll-pane.content .scroll-bar:horizontal .track,
.scroll-pane.content .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-pane.content .scroll-bar:horizontal .thumb,
.scroll-pane.content .scroll-bar:vertical .thumb {
    -fx-background-color: #eee;
    -fx-background-radius: 5em;
}

.table-view {
    -fx-base: #eff;
    -fx-control-inner-background: #fff;
    -fx-background-color: #eff;
    -fx-table-header-border-color: #eee;
    -fx-table-cell-border-color: #eee;
}
.table-view .column-header {
    -fx-background-color: #0d7ff2;
    -fx-border-width: 0;
}
.table-view .filler{
    -fx-background-color: #016fe0;
}
.table-view .column-header:hover {
    -fx-background-color: #016fe0;
}
.table-view .column-header .label {
    -fx-text-fill: white;
}
.table-view .column-header.hide-label .label {
    visibility: hidden;
}
.table-row-cell:empty {
    -fx-background-color: transparent;
}
.table-row-cell .table-cell,
#main .table-row-cell:empty .table-cell {
    -fx-border-width: 0;
    -fx-border-color: transparent;
}
#main .table-row-cell:focused {
    -fx-background-color: #0d7ff2;
    -fx-text-background-color: #eff;
}
#main .table-row-cell:focused .button {
    -fx-text-fill: #eff;
}
#main .table-row-cell:focused .button:hover {
    -fx-text-fill: #0d7ff2;
}
 .table-view .table-cell {
     -fx-alignment: center;
 }
 .table-view .align-left,
 .table-view .align-left.column-header .label {
     -fx-alignment: baseline-left;
 }

.table-view .show-hide-columns-button {
    -fx-background-color: #016fe0;
}
.table-view .scorers {
    -fx-background-color: #eee;
}
.table-view .focused {
    -fx-background-color: #fff040;
}
.table-view .focused .button {
    -fx-text-fill: #0d7ff2;
}
.table-view .scorers:focused {
    -fx-background-color: #016fe0;
}
/* ChoiceBox */
.choice-box {
    -fx-background-color: transparent;
}
.choice-box .arrow {
    -fx-mark-color: #016fe0;
}
.choice-box .label {
    -fx-text-fill: #000033;
    -fx-alignment: center;
}
.choice-box .context-menu {
    -fx-mark-color: white;
}
/* background, text color in inherited from .menu-item + .context-menu */

/* TAB */
.tab-header-area {
    -fx-padding: 5px 0px 0px 0px;
    -fx-border-width: 0 0 0 0;
}
.tab-content-area {
    -fx-background-color: transparent;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}
.tab-pane *.tab-header-background  {
    -fx-background-color: transparent;
}
.tab {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-padding: 5px;
    -fx-margin: 5px;
    -fx-focus-color: transparent;
}
.tab .tab-label, .toggle-button {
    -fx-background-color: transparent;
    -fx-text-fill: #999;
}
.tab:hover, .toggle-button:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #0b4e93;
}
.tab:selected .tab-label, .toggle-button:selected {
    -fx-text-fill: #0d7ff2;
    -fx-underline: true
}

/* GROUP COLOR */
#main .table-cell.referee {-fx-text-fill: #888}
#main .table-cell.home, #main .table-cell.away {-fx-border-width: 2;}
#main .table-cell.home {-fx-border-style: hidden hidden hidden solid}
#main .table-cell.away {-fx-border-style: hidden solid hidden hidden}
.g-0 .group {-fx-border-color: #00bd39;}
.g-1 .group {-fx-border-color: #6dea00;}
.g-2 .group {-fx-border-color: #aaf53d;}
.g-3 .group {-fx-border-color: #fff040;}
.g-4 .group {-fx-border-color: #ff9c00;}
.g-5 .group {-fx-border-color: #ff4100;}

/* CHARTS */
.chart, .chart-plot-background {
    -fx-background-color: transparent;
}
.chart-legend {
   -fx-background-color: #fff;
   -fx-padding: 10px;
   -fx-border-width: 0.5px;
   -fx-border-color: -fx-accent;
}
.default-color0.chart-pie {-fx-pie-color: #aaf53d;}
.default-color1.chart-pie {-fx-pie-color: #6dea00;}

.menu-item .label {
    -fx-text-fill: white;
}
.menu-item:focused {
     -fx-background-color: #0d7ff2;
}
.menu-item:focused .label {
    -fx-text-fill: #eff;
}
.context-menu {
    -fx-background-color: #016fe0;
}
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: #ddd;
}

.heading {
    -fx-text-fill: #016fe0;
    -fx-font-style: italic;
}

.hyperlink, .hyperlink:visited {
    -fx-text-fill: #9BF7F8;
    -fx-underline: false
}
.hyperlink:hover, .hyperlink:focused {
    -fx-text-fill: #fff;
}
.hyperlink.unobtrusive, .hyperlink.unobtrusive:visited {
    -fx-text-fill: #999;
}
.hyperlink.unobtrusive:hover, .hyperlink.unobtrusive:focused {
    -fx-text-fill: #016fe0;
    -fx-underline: true;
}
.stats {
    -fx-font-weight: bold
}
.help {
    -fx-text-fill: #666;
}